/module_8/m8discussionBoard/nbproject/private/
/module_8/m8discussionBoard/build/
/module_8/mod8Discussion/nbproject/private/
/module_8/mod8Discussion/build/
/module_8/mod8DiscussionBoard/nbproject/private/
/module_8/mod8DiscussionBoard/build/
/module_8/m8DiscussionBoard/nbproject/private/
/module_8/m8DiscussionBoard/build/
/module_8/m8DiscussionBoard/dist/
/module_8/Linear_Gradient_1/nbproject/private/
/module_8/Linear_Gradient_1/build/
/module_8/Linear_Gradient_1/dist/
/module_8/m8CardAssignment/nbproject/private/
/module_8/m8CardAssignment/dist/
/module_8/m8CardAssignment/build/
